.variable-container {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0 0.5em 0.5rem 0.5em;
  background-color: lightgray;
  /* height: auto; */
}

.variable-title {
  color: darkblue
}

.variable-value {
  font-size: x-large;
  font-weight: bold;
  margin: 0 0.5rem 0 0.5rem;
}