.temperatures-container {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: white;
}

.temperatures-title {
  color: darkblue;
}

.temperatures-values {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.temp-variables {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}