.timer-container {
  border: 1px solid;
  border-radius: 0.5rem;
  margin: 0 0 0.5rem 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: lightgray;
}

.timer-title {
  color: darkblue;
}

.timer-screen {
  border: 1px solid;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  text-align: right;
  font-size: x-large;
  font-weight: bold;
  background-color: white;
}

.timer-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}