.components-container {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 5rem 1rem 5rem;
  background-image: none;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 0.25rem gray;

}

.components-container-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.components-container-2 {
  display: grid;
  gap: 1rem;
}