.calculator-container {
  margin: 0 auto;
  padding: 0.5rem;
  width: fit-content;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem gray;
}

.calculator-input {
  height: 4rem;
  border: 1px solid gray;
  border-radius: 1rem;
  border-style: inset;
  background-color: azure;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  /* margin-top: 0.5rem; */
  box-shadow: inset 0 0 0.25rem gray;
}

.calculator-td {
  text-align: center;
  padding: 0px;
}

.calculator-button {
  margin: 2px;
  width: 80px;
  height: 80px;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid gray;
  padding: 0px;
  transform: scale(0.9);
}

.calculator-button-blue,
.calculator-button-blue-disabled {
  background-color: lightblue;
  box-shadow: 0 0 0.5rem lightgray;
}

.calculator-button-blue:hover {
  background-color: lightskyblue;
  transform: scale(1.0);
}

.calculator-button-green,
.calculator-button-green-equal {
  background-color: lightgreen;
  box-shadow: 0 0 0.5rem lightgray;
}

.calculator-button-green-equal:hover {
  background-color: chartreuse;
  transform: scale(1.0);
}

.calculator-button-orange {
  background-color: orange;
  box-shadow: 0 0 0.5rem lightgray;
}

.calculator-button-orange:hover {
  background-color: lightcoral;
  transform: scale(1.0);
}

.calculator-button-orange:active,
.calculator-button-blue:active,
.calculator-button-green-equal:active {
  transform: scale(0.9);
}