.products-container {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: auto;
  box-shadow: 0 0 0.25rem gray;
  text-align: center;
  background-color: azure;
}

.products-items-container {
  border: 1px solid lightgray;
  box-shadow: 0 0 0.25rem gray;
  padding: 0.5rem;
  height: 662px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  align-items: start;
  background-color: lightgray
}